@page "{Id}"
@model SporeServer.Pages.Community.AssetBrowser.CommentModel
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<title>Multiverse Journal : Find Buddy</title>-->
    <!--<base href="https://community.spore.com" />-->
    <link rel="stylesheet" type="text/css" href="/css/game/comments.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
    <style type="text/css">
        .blankBG {
            background-color: #1a303f;
        }
    </style>
</head>

<body>
    <div id="gamesused">
        <h2>Games Used:</h2>
        <div class="gamesicons">

        </div>
    </div>

    <div id="commentmessaging">
        No comments allowed yet.
    </div>
</body>
</html>