@page
@model SporeServer.Pages.Community.AssetBrowser.CommentApprovalModel
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html;" />
    <title>AssetBrowser: Approve Comments</title>
    <!--<base href="http://community.spore.com" />-->
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/main.css" />
    <style type="text/css">
        .toprow {
            width: 350px;
        }

        h1 {
            font-size: 12px;
            font-family: 'Palatino Sans EA', Verdana, sans-serif;
            margin: 0px;
            padding: 6px 3px 2px 3px;
        }
    </style>
</head>

<body>

    <div id="unapproved">
        <div class="header">
            <div class="headerLeftNoIcon"></div>
            <div style="margin-left:25px;" class="headermiddle">
                <h1>Comments Awaiting Approval</h1>
            </div>
            <div class="headerRight"></div>
        </div>
        <div class="promo">



            You have no comments to approve.



        </div>
        <div class="footer">
            <div class="footerLeft"></div>
            <div class="footermiddle"></div>
            <div class="footerRight"></div>
        </div>
    </div>

    <div id="approvedcomments">
        <div class="header">
            <div class="headerLeftNoIcon"></div>
            <div style="margin-left:25px;" class="headermiddle">
                <h1>Approved Comments</h1>
            </div>
            <div class="headerRight"></div>
        </div>
        <div class="promo">


            You have no approved comments.



        </div>
        <div class="footer">
            <div class="footerLeft"></div>
            <div class="footermiddle"></div>
            <div class="footerRight"></div>
        </div>
    </div>

    <div id="blocked">
        <div class="header">
            <div class="headerLeftNoIcon"></div>
            <div style="margin-left:25px;" class="headermiddle">
                <h1>Manage Blocked Players</h1>
            </div>
            <div class="headerRight"></div>
        </div>
        <div class="promo">

        </div>
        <div class="footer">
            <div class="footerLeft"></div>
            <div class="footermiddle"></div>
            <div class="footerRight"></div>
        </div>
    </div>
</body>

</html>
