@page
@model SporeServer.Pages.Community.AssetBrowser.FindBuddyModel
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">







<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Multiverse Journal : Find Buddy</title>
    <!--<base href="http://community.spore.com">-->
    <link rel="stylesheet" type="text/css" href="/css/game/buddy.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
</head>

<body>
    <div id="buddycontent">
        <div id="search">
            <div id="searchmiddle">
                <form method="get" action="/community/assetBrowser/findBuddy">
                    <p><input type="text" name="searchText" size="30" value="rosa" class="text" /></p>
                    <p><input type="submit" value="Search" class="submit" /></p>
                </form>
            </div>
        </div>
        <div id="results">
            <div id="paging">
                <div class="context">




                    Showing 1-9 of 9 buddies



                </div>
                <div class="next">

                </div>
            </div>
            <table class="buddyresults">





                <tr>
                    <td class="avatar ">


                        <img src="/static/war/images/game/spd/NoAvatar.png" alt="Avatar" class="noavatar" />



                    </td>
                    <td class="buddyname ">

                        <a href="sporeprofile:501089776635" style="">Rosa_ (0)</a>



                    </td>


                    <td class="add "><a href="sporecast:tag:spore.com,2006:user/501089776635/Rosa_">Add</a></td>



                </tr>


                <tr>
                    <td class="avatar , odd">


                        <img src="/static/war/images/game/spd/NoAvatar.png" alt="Avatar" class="noavatar" />



                    </td>
                    <td class="buddyname , odd">

                        <a href="sporeprofile:500556902523" style="">Ingar_Rosa (48)</a>

                    </td>






                    <td class="add , odd"><a href="sporecast:tag:spore.com,2006:user/500556902523/Ingar_Rosa">Add</a></td>



                </tr>


                <tr>
                    <td class="avatar ">


                        <img src="/static/war/images/game/spd/NoAvatar.png" alt="Avatar" class="noavatar" />



                    </td>
                    <td class="buddyname ">














                        <a href="sporeprofile:500692653741" style="">rosa_mayrhofer (0)</a>





                    </td>






                    <td class="add "><a href="sporecast:tag:spore.com,2006:user/500692653741/rosa_mayrhofer">Add</a></td>



                </tr>


                <tr>
                    <td class="avatar , odd">


                        <img src="/static/war/images/game/spd/NoAvatar.png" alt="Avatar" class="noavatar" />



                    </td>
                    <td class="buddyname , odd">














                        <a href="sporeprofile:500755017589" style="">James_Rosa (0)</a>





                    </td>






                    <td class="add , odd"><a href="sporecast:tag:spore.com,2006:user/500755017589/James_Rosa">Add</a></td>



                </tr>


                <tr>
                    <td class="avatar ">


                        <img src="/static/war/images/game/spd/NoAvatar.png" alt="Avatar" class="noavatar" />



                    </td>
                    <td class="buddyname ">














                        <a href="sporeprofile:500903950747" style="">Tige-Rosa (0)</a>





                    </td>






                    <td class="add "><a href="sporecast:tag:spore.com,2006:user/500903950747/Tige-Rosa">Add</a></td>



                </tr>


                <tr>
                    <td class="avatar , odd">



                        <img src="/static/thumb/501/029/041/501029041306.png" alt="Avatar" class="avatar" />


                    </td>
                    <td class="buddyname , odd">














                        <a href="sporeprofile:500947488824" style="">Bruno_Rosa (2)</a>





                    </td>






                    <td class="add , odd"><a href="sporecast:tag:spore.com,2006:user/500947488824/Bruno_Rosa">Add</a></td>



                </tr>


                <tr>
                    <td class="avatar ">


                        <img src="/static/war/images/game/spd/NoAvatar.png" alt="Avatar" class="noavatar" />



                    </td>
                    <td class="buddyname ">














                        <a href="sporeprofile:501000409650" style="">rosa-elg (0)</a>





                    </td>






                    <td class="add "><a href="sporecast:tag:spore.com,2006:user/501000409650/rosa-elg">Add</a></td>



                </tr>


                <tr>
                    <td class="avatar , odd">


                        <img src="/static/war/images/game/spd/NoAvatar.png" alt="Avatar" class="noavatar" />



                    </td>
                    <td class="buddyname , odd">














                        <a href="sporeprofile:500611423130" style="">General_La_Rosa (1)</a>





                    </td>






                    <td class="add , odd"><a href="sporecast:tag:spore.com,2006:user/500611423130/General_La_Rosa">Add</a></td>



                </tr>


                <tr>
                    <td class="avatar ">


                        <img src="/static/war/images/game/spd/NoAvatar.png" alt="Avatar" class="noavatar" />



                    </td>
                    <td class="buddyname ">














                        <a href="sporeprofile:500791549483" style="">rosa-rosus-rosae (0)</a>





                    </td>






                    <td class="add "><a href="sporecast:tag:spore.com,2006:user/500791549483/rosa-rosus-rosae">Add</a></td>



                </tr>




            </table>
        </div>
    </div>
</body>

</html>