@page
@model SporeServer.Pages.Community.AssetBrowser.FindSporecastModel
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">



















<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html;" />
    <title>Browse Sporecasts</title>
    <!--<base href="http://community.spore.com" />-->
    <link rel="stylesheet" type="text/css" href="/css/game/buddy.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
    <style type="text/css">
        h1 {
            font-size: 12px;
            font-family: 'Palatino Sans EA', Verdana, sans-serif;
            margin: 0px;
            padding: 6px 3px 2px 3px;
        }
    </style>
</head>

<body>
    <div id="content">
        <div id="search">
            <div id="searchmiddle">
                <form method="get" action="/community/assetBrowser/findSporecast">
                    <p><input type="text" name="searchText" value="" class="text" /></p>
                    <p><input type="submit" value="Search" class="submit" /></p>
                </form>
            </div>
        </div>
        <div id="results">
            <div id="paging">
                <div class="context">


                    Showing 1-3 of 497,120 Sporecasts






                </div>
                <div class="next">

                    <!-- no page back -->







                    <a href="/community/assetBrowser/findSporecast/3?sort=">
                        next&nbsp;<img src="/static/war/images/game/spd/nextArrow.png" alt="next" class="nextarrow" />
                    </a>




                </div>
            </div>




            <div class="sporecast">
                <div class="header">
                    <div class="headerLeft"><img src="/static/war/images/game/spd/spd_IconSporecastCensus.png" alt="Sporecast" class="headericon" /></div>
                    <div class="headermiddle">
                        <h1>Dragon World (221)</h1>
                    </div>
                    <div class="headerRight"></div>
                </div>
                <div class="promo">

                    <h3>by <a href="sporeprofile:500947704765" style="">crypod92</a> </h3>

                    <p>
                        11,041 Subscribers


                        <a href="sporecast:tag:spore.com,2006:aggregator/500958470808">
                            Subscribe
                        </a>

                    </p>

                    <p>The wonderful, magical world of the beautiful and dangerous creatures ever!: DRAGONS!</p>
                    <p>
                        <img src="/static/thumb/501/050/425/501050425676.png" width="40px" height="40px" alt="Great White Dragon" />

                        <img src="/static/thumb/501/050/425/501050425671.png" width="40px" height="40px" alt="Deep Forest Dragon" />

                        <img src="/static/thumb/501/049/538/501049538960.png" width="40px" height="40px" alt="Centipede  Dragon" />

                        <img src="/static/thumb/501/049/538/501049538948.png" width="40px" height="40px" alt="Jelly Dragon" />

                        <img src="/static/thumb/501/048/713/501048713374.png" width="40px" height="40px" alt="Bunny Dragon" />

                        <img src="/static/thumb/501/048/149/501048149950.png" width="40px" height="40px" alt="Shrek Dragon" />

                        <img src="/static/thumb/501/048/149/501048149933.png" width="40px" height="40px" alt="Shadow Dragon" />

                        <img src="/static/thumb/501/047/975/501047975332.png" width="40px" height="40px" alt="Beauty Dragon" />

                        <img src="/static/thumb/501/047/625/501047625241.png" width="40px" height="40px" alt="Black Hole Dragon" />

                        <img src="/static/thumb/501/047/556/501047556135.png" width="40px" height="40px" alt="Psycho Dragon" /> . . .
                    </p>
                </div>
                <div class="footer">
                    <div class="footerLeft"></div>
                    <div class="footermiddle"></div>
                    <div class="footerRight"></div>
                </div>
            </div>



            <div class="sporecast">
                <div class="header">
                    <div class="headerLeft"><img src="/static/war/images/game/spd/spd_IconSporecastCensus.png" alt="Sporecast" class="headericon" /></div>
                    <div class="headermiddle">
                        <h1>Epic Creations (263)</h1>
                    </div>
                    <div class="headerRight"></div>
                </div>
                <div class="promo">

                    <h3>by <a href="sporeprofile:500947704765" style="">crypod92</a> </h3>

                    <p>
                        7,684 Subscribers


                        <a href="sporecast:tag:spore.com,2006:aggregator/500949007013">
                            Subscribe
                        </a>

                    </p>

                    <p>My YOUTUBE CHANNEL: www.youtube.com/channel/UC2c6knCPoEVkqKYuzyrjm7g ...please like and subscribe ;)</p>
                    <p>
                        <img src="/static/thumb/501/053/195/501053195376.png" width="40px" height="40px" alt="Ghoul Walker" />

                        <img src="/static/thumb/501/053/172/501053172725.png" width="40px" height="40px" alt="Corrupted Treant" />

                        <img src="/static/thumb/501/053/161/501053161380.png" width="40px" height="40px" alt="Flesh Sucker" />

                        <img src="/static/thumb/501/048/713/501048713368.png" width="40px" height="40px" alt="Cosmog" />

                        <img src="/static/thumb/501/046/412/501046412592.png" width="40px" height="40px" alt="100 Requests!!!" />

                        <img src="/static/thumb/501/045/472/501045472755.png" width="40px" height="40px" alt="Over 700 Subscriber" />

                        <img src="/static/thumb/501/045/472/501045472751.png" width="40px" height="40px" alt="Epic Creations &#039;4000 Subs&#039;" />

                        <img src="/static/thumb/501/045/472/501045472748.png" width="40px" height="40px" alt="Crypod is back!" />

                        <img src="/static/thumb/501/032/625/501032625566.png" width="40px" height="40px" alt="Izrim, King of Chaos" />

                        <img src="/static/thumb/501/032/332/501032332209.png" width="40px" height="40px" alt="Thundyr, Assassin of Izrim" /> . . .
                    </p>
                </div>
                <div class="footer">
                    <div class="footerLeft"></div>
                    <div class="footermiddle"></div>
                    <div class="footerRight"></div>
                </div>
            </div>



            <div class="sporecast">
                <div class="header">
                    <div class="headerLeft"><img src="/static/war/images/game/spd/spd_IconSporecastCensus.png" alt="Sporecast" class="headericon" /></div>
                    <div class="headermiddle">
                        <h1>現代と未来の融合 (102)</h1>
                    </div>
                    <div class="headerRight"></div>
                </div>
                <div class="promo">

                    <h3>by <a href="sporeprofile:500636289275" style="">Itapenguin</a> </h3>

                    <p>
                        18,146 Subscribers


                        <a href="sporecast:tag:spore.com,2006:aggregator/500848614948">
                            Subscribe
                        </a>

                    </p>

                    <p>This Sporecast&#039;s a set of vehicles &amp; buildings that combine with modern &amp; future. 11/24/15 FEATURED!</p>
                    <p>
                        <img src="/static/thumb/501/055/386/501055386158.png" width="40px" height="40px" alt="スペース・ニュー - Space Nu" />

                        <img src="/static/thumb/501/055/156/501055156294.png" width="40px" height="40px" alt="スペース・カッパ - Space Kappa" />

                        <img src="/static/thumb/501/032/627/501032627436.png" width="40px" height="40px" alt="FSP Saloon" />

                        <img src="/static/thumb/501/032/627/501032627422.png" width="40px" height="40px" alt="FSP Corporation" />

                        <img src="/static/thumb/501/032/627/501032627420.png" width="40px" height="40px" alt="FSP Housing" />

                        <img src="/static/thumb/501/032/627/501032627014.png" width="40px" height="40px" alt="FSP Central" />

                        <img src="/static/thumb/501/031/987/501031987182.png" width="40px" height="40px" alt="スペース・シグマ - Space Sigma" />

                        <img src="/static/thumb/501/031/755/501031755270.png" width="40px" height="40px" alt="スペース・シータ - Space Theta" />

                        <img src="/static/thumb/501/030/749/501030749924.png" width="40px" height="40px" alt="Flying Monster" />

                        <img src="/static/thumb/501/030/373/501030373577.png" width="40px" height="40px" alt="Rapid Speeder" /> . . .
                    </p>
                </div>
                <div class="footer">
                    <div class="footerLeft"></div>
                    <div class="footermiddle"></div>
                    <div class="footerRight"></div>
                </div>
            </div>



        </div>
    </div>
</body>

</html>