@page
@model SporeServer.Pages.Community.AssetBrowser.FindBuddyModel
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Multiverse Journal : Find Buddy</title>
    <base href="https://community.spore.com" />
    <link rel="stylesheet" type="text/css" href="/css/game/buddy.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
</head>

<body>
    <div id="buddycontent">
        <div id="search">
            <div id="searchmiddle">
                <form method="get" action="/community/assetBrowser/findBuddy">
                    <p><input type="text" name="searchText" size="30" value="@Model.SearchString" class="text" /></p>
                    <p><input type="submit" value="Search" class="submit" /></p>
                </form>
            </div>
        </div>
        <div id="results">
            <div id="paging">
                 @if (Model.Searched && Model.Users.Length != 0)
                 {
                     var length = Model.Users.Length;
                     <div class="context">
                         Showing 1-@(length) of @(length) buddies
                     </div>
                 }
                <div class="next">

                </div>
            </div>
            <table class="buddyresults">


                <tr>
                    <td></td>
                    <td></td>
                    @if (!Model.Searched)
                    {
                        <td>
                            Enter a friend's email address or Spore screen name to add them as a Buddy.
                        </td>
                    }
                    else if (Model.Users.Length == 0)
                    {
                        <td>
                            There are zero matches.
                        </td>
                    }
                </tr>

                @if (Model.Searched)
                {
                    @for (int i = 0; i < Model.Users.Length; i++)
                    {
                        var user = Model.Users[i];
                        bool odd = i % 2 != 0;
                        int assetCount = await Model.GetAssetCountByUserAsync(user);
                        <tr>
                            <td class="avatar@(odd ? " , odd" : "")">
                                <img src="/static/war/images/game/spd/NoAvatar.png" alt="Avatar" class="noavatar" />
                            </td>
                            <td class="buddyname@(odd ? " , odd" : "")">
                                <a href="sporeprofile:@(user.Id)" style="">@(user.UserName) (@(assetCount))</a>
                            </td>
                            @if (Model.CurrentUser.Id == user.Id)
                            {
                                <td class="self, add ">This is you</td>
                            }
                            else
                            {
                                <td class="add@(odd ? " , odd" : "")">
                                    @if (Model.SubscribedUsers.Contains(user))
                                    {
                                        <a href="sporecast:unsubscribe:tag:spore.com,2006:user/@(user.Id)/@(user.UserName)">Remove buddy</a>
                                    }
                                    else
                                    {
                                        <a href="sporecast:tag:spore.com,2006:user/@(user.Id)/@(user.UserName)">Add</a>
                                    }
                                </td>
                            }
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</body>

</html>