@page
@model SporeServer.Pages.Community.AssetBrowser.StoreModel
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!--<base href="http://community.spore.com" />-->
    <title>
        Asset Browser : Store
    </title>
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/store.css" />
</head>

<body style="margin-bottom:0px;padding-bottom:0px;">

    <div id="leftcontentsmall">



        <div id="promotopsm">

            <div class="header">
                <img src="/static/war/images/game/spd/storehead_left.png" alt="" class="storeheaderLeft" />
                <div class="headermiddle">
                    <h1>Take Your Creature From Zero To Galactic Hero! </h1>
                </div><img src="/static/war/images/game/spd/storehead_right.png" alt="" class="storeheaderRight" />
            </div>
            <div class="promobody">
                <div id="promocentercenter"><img src="/static/war/images/game/store/ga.png" alt="" class="promocenterimg" /></div>
                <div id="promocenterleft">
                    <p>Turn your Spore creatures into legendary Space Captains. Conquer quests, collect rewards, and even create and share your own missions!</p>
                </div>
                <div id="promocenterright">
                    <div class="orderbutton"><a href="browser:http://eastore.ea.com/DRHM/servlet/ControllerServlet?ThemeID=1252400&amp;Action=DisplayProductDetailsPage&amp;SiteID=ea&amp;Locale=en_US&amp;Env=BASE&amp;productID=110592000">Buy Now</a></div>
                </div>
            </div>
        </div>



        <div id="promocentersm">

            <div class="header">
                <img src="/static/war/images/game/spd/storehead_left.png" alt="" class="storeheaderLeft" />
                <div class="headermiddle">
                    <h1>Spore on your Mobile Phone</h1>
                </div><img src="/static/war/images/game/spd/storehead_right.png" alt="" class="storeheaderRight" />
            </div>
            <div class="promobody">
                <div id="promocentercenter"><img src="/static/war/images/game/store/mobile.png" alt="" class="promocenterimg" /></div>
                <div id="promocenterleft">
                    <p>Guide your tiny creature as it fights to survive in the tidepool of early life.</p>
                </div>
                <div id="promocenterright">
                    <div class="orderbutton"><a href="browser:http://www.spore.com/what/platforms#Mobile">Get it here</a></div>
                </div>
            </div>
        </div>




        <div id="promobottomsm">

            <div class="header">
                <img src="/static/war/images/game/spd/storehead_left.png" alt="" class="storeheaderLeft" />
                <div class="headermiddle">
                    <h1>Personalized Spore Merchandise</h1>
                </div><img src="/static/war/images/game/spd/storehead_right.png" alt="" class="storeheaderRight" />
            </div>
            <div class="promobody">
                <div id="promobottomleft"><img src="/static/war/images/game/store/zazzle.png" alt="" class="promobottomimg" /></div>
                <div id="promobottomcenter">
                    <p>Proud of your creatures? Put them on a T-shirt, hat or poster. Make cool swag at Zazzle''s Spore Store.</p>
                </div>
                <div id="promobottomright">
                    <div class="orderbutton"><a href="browser:http://www.zazzle.com/sporestore?CMPN=sporepedia2">Go to Zazzle</a></div>
                </div>
            </div>
        </div>




        <div id="promofourthsm">

            <div class="header">
                <img src="/static/war/images/game/spd/storehead_left.png" alt="" class="storeheaderLeft" />
                <div class="headermiddle">
                    <h1>MashOn Spore Comics </h1>
                </div><img src="/static/war/images/game/spd/storehead_right.png" alt="" class="storeheaderRight" />
            </div>
            <div class="promobody">
                <div id="promocentercenter"><img src="/static/war/images/game/store/mashon_creator.jpg" alt="" class="promocenterimg" /></div>
                <div id="promocenterleft">
                    <p>Upload your Spore creature images, tell your story and share with friends.</p>
                </div>
                <div id="promocenterright">
                    <div class="orderbutton"><a href="browser:http://www.mashon.com/spore">Create Your Own</a></div>
                </div>
            </div>
        </div>

    </div>




</body>

</html>