@page "{id}"
@model SporeServer.Pages.Community.AssetBrowser.LargeCard.CommentsModel
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>EP1 comments</title>
    <base href="https://community.spore.com" />
    <link rel="stylesheet" type="text/css" href="/css/game/ep1_comments.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
    <style type="text/css">
        .fakeBG {
            background-image: url(utfres://0x40484400!clear.png);
        }
    </style>
</head>
<body>
    <!-- TODO
    <div id="commentinput">
        <h2>Add Comment</h2>
        <form method="get" action="/community/assetBrowser/largeCard/comments/501091133207">
            <p><textarea name="comment" class="commenttext" cols="21" size="150"></textarea></p>
            <p><input type="submit" value="Submit" class="submitcomment" /></p>
        </form>
    </div>
    -->
    <div id="commentmessaging">





        <p>There are no comments for this creation.</p>



    </div>
</body>
</html>