@page "{id}"
@model SporeServer.Pages.Community.AssetBrowser.LargeCard.GamesUsedModel
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Games Used</title>
    <base href="https://community.spore.com" />
    <link rel="stylesheet" type="text/css" href="/css/game/comments.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
    <style type="text/css">
        .gamesicons {
            padding: 0px 6px;
            height: 18px;
            text-align: left;
        }

            .gamesicons img.multi {
                margin-left: 0px;
                margin-top: 2px;
                height: 30px;
                width: 30px;
            }

        .fakeBG {
            background-image: url(utfres://0x40484400!clear.png);
        }
    </style>
</head>

<body class="fakeBG">
    <div class="gamesicons">
        <img src="/static/war/images/content/packaging/Spore-icon.png" class="multi" />
    </div>
</body>
</html>