

body {
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	background: #203a4a;
	font-family: "Trebuchet EA", Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 10px;
}

a:link,
a:visited,
a:active {
	color: #FFFFFF;
	text-decoration: underline;
}

a:hover {
	color: #CCCCCC;
	text-decoration: underline;
}

#container {
	width: 688px;
}

#header {
	width: 650px;
	height: 25px;
	background-image: url(utfres://0x40484400!header.png);
	background-repeat: no-repeat;
	vertical-align: middle;
}

#regcontainer {
	width: 540px;
	background-image: url (utfres://0x40484400!login_sides.png);
	background-repeat:repeat;
	padding: 0px;
	margin: 0px;
}

#regfooter {
	width: 650px;
	background-image: url(utfres://0x40484400!footer.png);
	background-repeat: no-repeat;
	height: 17px;
}

#regsides {
	width: 650px;
	background-image: url(utfres://0x40484400!wide_sides.png);
	background-repeat: repeat;
	height: 80px;
}

#regsidesFull {
	width: 650px;
	background-image: url(utfres://0x40484400!wide_sides.png);
	background-repeat: repeat;
	height: 250px;
}

h1 {
	font-family: "Palatino Sans EA", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	margin: 0px;
	text-align: center;
}

h2 {
	font-family: "Palatino Sans EA", Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	color: #ffffff;
}

div.errorText {
	width: 529px;
	text-align: center;
	color: #bbaa00;
	font-size: 8px;
}

#eaButton {
	background-image: url(utfres://0x40484400!newAcct-butn-large.png);
	background-repeat: no-repeat;
	width: 256px;
	height: 46px;
	padding-top: 8px;
	font-family: "Palatino Sans EA", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	margin-left: 225px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}

.alreadyHeader {
	margin-top: 10px;
	margin-left: 180px;
}

.creatureBlurb {
	background-image: url(utfres://0x40484400!reg_creatures.png);
	background-repeat: no-repeat;
	width: 600px;
	height: 123px;
	margin-top: 6px;
}

.blurbHeader {
	margin-left: 200px;
	position: absolute;
	top: 10px;
	left: 20px;
	text-align: center;
}

.nocreatureBlurb {
	width: 180px;
	height: 43px;
}

.critterBlurb {
	background-image: url(utfres://0x40484400!critter.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 5px;
	bottom: 85px;
	width: 50px;
	height: 51px;
}

.whitetext {
	color: #FFFFFF;
}

.tos {
	color: #bbaa00;
}

.helptext {
	color: #bbaa00;
}

.screenHelp {
	position: absolute;
	top: 110px;
	left: 40px;
}

.benefitsList {
	text-align: left;
	font-family: "Palatino Sans EA", Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	margin-left: 200px;
	margin-top: 40px;
}

table.userinfo {
	width: 550px;
	padding: 0px 0px;
	margin-left: 40px;
}

table.userinfo td {
	color: #bbaa00;
	padding: 0px 2px 1px 2px;
	vertical-align: top;
	margin: 0px;
}

.dob {
	width: 550px;
}

.userinfo input {
	width: 175px;
}

.firstRow {
	position: absolute;
	top: 8px;
	left: 0px;
}

.secondRow {
	position: absolute;
	top: 58px;
	left: 0px;
}

.thirdRow {
	position: absolute;
	top: 140px;
	left: 40px;
}

#passwords {
	padding: 0px;
	margin: 0px;
}

#passwords td {
	width: 50%;
	padding: 0px;
}

table.country {
	width: 450px;
}

table.country td {
	padding: 0px 3px 2px 3px;
	color: #bbaa00;
	vertical-align: top;
}

td.lang {
	width: 25%;
}

td.count {
	width: 75%;
}

div.checkbox1 {
	position: absolute;
	top: -2px;
	left: 5px;
}

div.checkboxLabel1 {
	position: absolute;
	top: -1px;
	left: 33px;
}

div.checkbox2 {
	position: absolute;
	top: 21px;
	left: 5px;
}

div.checkboxLabel2 {
	position: absolute;
	top: 23px;
	left: 33px;
}

div.options {
	position: absolute;
	top: 200px;
	color: #ffffff;
	margin-left: 40px;
	width: 600px;
}

div.needHelp {
	position: absolute;
	top: 132px;
	right: 22px;
	font-size: 8px;
}

li.tightlist {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 25px;
}

