name: SporeServer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: |
        cd SporeServer
        dotnet restore
    - name: Build
      run: |
        cd SporeServer
        dotnet build --no-restore
    - name: Test
      run: |
        cd SporeServer.Tests
        dotnet test
